<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>.::MiminiAdmin.::</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/imagen/pngegg.png" height="30" />
            </a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav" id="mnxProducto">
                    <a class="nav-link" href="#" data-form="registro">Registro de venta</a>
                    <a class="nav-link" href="#" data-form="inventario">Inventario</a>
                    <a class="nav-link" href="#" data-form="reporte">Reporte de venta</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="position-absolute" id="Producto"></div>
        <div class="position-absolute" id="busqueda_Producto"></div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script>
    document.addEventListener("DOMContentLoaded", e => {
        mnxProducto.addEventListener("click", event => {
            event.preventDefault();
            abrirVentana(event.target.dataset.form);
        });
    })
    function abrirVentana(form) {
        let $ventana = document.querySelector(`#${form} form`);
        if ($ventana != null) {

        } else {
            let url = `/views/${form}.html`;
            fetch(url).then(resp => resp.text()).then(vista => {
                document.querySelector(`#${form}`).innerHTML = vista;
            });
        }
        
    }
    </script>

</body>
</html>